@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,600&display=swap');

body{
    background:#fff;
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    line-height: 1.8;
   overflow-x: hidden;
    color:#868e96;
}



/*=========================Top Bar=================---*/
#topbar {
    background: #438a5e;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 13px;
  }
  
  #topbar .contact-info a {
    line-height: 1;
    color: #fff;
    transition: 0.3s;
    display: inline-block;
  }
  
  #topbar .contact-info a:hover {
    color: #fff;
  }
  
  #topbar .contact-info i {
    color: #fff;
    padding: 4px;
  }
  
  
  
  #topbar .social-links a {
    color: #fff;
    padding: 4px 6px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
  }
  
  #topbar .social-links a:hover {
    color: #1b8030;;
  }
  
  /*================ end of top bar=====================---*/



.media-heading {
    color: #212529 !important;
    font-family:cinzel;
}

.date-readmore a{
  display: inline-block;
  color:#a51111;
  padding-left:10px;
}
.date-readmore span{
  padding-right:10px;
}
a{
    text-decoration: none;
    transition: .3s all ease;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    -o-transition: .3s all ease;
}
h1,h2,h3,h4,h{
    color:#000;
}

header{
    position:relative;
    top:0;
    left:0;
    width:100%;
    z-index:5;
    background-color:#fff!important;
}

header .navbar-brand{
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 500;
    font-size: 1.6em;
    font-family: "Poppins",sans-serif;
    background-color:white!important;
   
}

header .navbar-brand span{
    color:#438a5e!important;

}
header .navbar{
    padding-top:0!important;
    padding-bottom:0!important;
    background-color:white!important;
    

     
}

@media (max-width:1200px){
    header .navbar{
        padding-top:.5rem;
        padding-bottom: .5rem;
        background:#fff!important;
    }
}
    header .navbar .nav-link{
        padding:1.7rem 1rem;
        outline: none!important;
        font-size:14px !important;
        
    }
    @media (max-width:1200px){
        header .navbar .nav-link{
            padding:.5rem 0rem;
        }
    }
header .navbar .nav-link.active{
    color: #438a5e !important;;

}


header .navbar .dropdown-menu{
    font-size:14px;
    border-radius:0px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    border:none;
    -webkit-box-shadow: 0 2px 30px 0px rgba(0,0,0,0.2);
    box-shadow: 0 2px 30px 0px rgba(0,0,0,0.2);
    min-width:13em;
    margin-top:-10px;
}
header .navbar .dropdown-menu:before{
    bottom:100%;
    left:10%;
    border:solid transparent;
    content:"";
    height:0;
    width:0;
    position:absolute;
    pointer-events:none;
    border-bottom-color:#fff;
    border-width:10px;
}
header .navbar .dropdown-menu .dropdown-item:hover{
    background:#438a5e;
    color:#fff;
}
header .navbar .dropdown-menu .dropdown-item.active{
    background:#438a5e;
    color:#fff;
}


/*=============== search bar =================== */

.search-box{
  width:100%;
  position: relative;
  display: flex;
}
.search{
  width:100%;
  border:3px solid #438a5e;
  border-radius: none;
  padding:5px;
  height:36px;
  outline: none;
  color:#9dbfaf;
}
.search:focus{
  color:#000;
  box-shadow: 0 0 5px #438a5e;
}
.search-btn{
  width:40px;
  height: 36px;
  border:1px solid #438a5e;
  background:#438a5e;
  text-align: center;
  color:#fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


/*============================== STYLING THE CAROUSEL =================== */

.section{
    padding:7em 0;
}
.topslider .owl-carousel .owl-item{
    opacity:.4;
}
.topslider .owl-carousel .owl-item.active{
    opacity:1;

}
.topslider .owl-carousel .owl-nav{
    position: absolute;
    top:50%;
    width:100%;
}

.topslider .owl-carousel .owl-nav .owl-prev,
.topslider .owl-carousel .owl-nav .owl-next
{
   position: absolute;
   margin-top:-10px;
   transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -o-transform: translateY(-50%);
}

.topslider .owl-carousel .owl-nav .owl-prev:hover,
.topslider .owl-carousel .owl-nav .owl-prev:focus,
.topslider .owl-carousel .owl-nav .owl-prev:active,
.topslider .owl-carousel .owl-nav .owl-next:hover,
.topslider .owl-carousel .owl-nav .owl-next:focus,
.topslider .owl-carousel .owl-nav .owl-next:active{
    outline:none;

}

.topslider .owl-carousel .owl-nav .owl-prev span:before,
.topslider .owl-carousel .owl-nav .owl-next span{
    font-size:40px;
}

.topslider .owl-carousel .owl-nav .owl-prev{
    left: 30px!important;;
}

.topslider .owl-carousel .owl-nav .owl-next{
    right: 30px !important;
}
.topslider .owl-carousel .owl-dots{
    text-align:center;
}
.topslider .owl-carousel .owl-dots .owl-dot{
    width:10px;
    height:10px;
    margin:5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background:#e6e6e6;
}
.topslider .owl-carousel .owl-dots .owl-dot.active{
    background:#438a5e;
}
.topslider .owl-carousel.home-slider{
    z-index: 1;
    position:relative;
}

.topslider .owl-carousel.home-slider .owl-nav{
    opacity:0;
    visibility: hidden;
    transition: .3s all ease;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    -o-transition: .3s all ease;
}

.topslider .owl-carousel.home-slider .owl-nav button{
    color:#fff;
}
.topslider .owl-carousel.home-slider:focus .owl-nav,
.topslider .owl-carousel.home-slider:hover .owl-nav{
    opacity: 1;
    visibility: visible;
}

.topslider .owl-carousel.home-slider .slider-item{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: calc(80vh-117px);
    min-height: 500px;
    position: relative;
}

.topslider .owl-carousel.home-slider .slider-item:before{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.2);
    content:"";
}

.topslider .owl-carousel.home-slider .slider-item .slider-text{
    color:#fff;
    height: calc(80vh-117px);
    min-height: 500px;
}

.topslider .owl-carousel.home-slider .slider-item .slider-text .title{
    font-size: 40px;
    color:#fff;
}

.topslider .owl-carousel.home-slider .slider-item .slider-text h1{
    font-size:30px;
    color:#fff;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2;

    
}

.cursive{
    font-family:cursive;
}


@media (max-width:991px){
    .owl-carousel.home-slider .slider-item.slider-text h1{
        font-size:20px;
    }
}


.owl-carousel.home-slider .slider-item .slider-text p{
    font-size:20px;
    color:#fff;
    line-height: 1.5;
    font-weight: 300;
}



.owl-carousel.home-slider .owl-dots{
    position:absolute;
    bottom:100px;
    width:100%;
}

.owl-carousel.home-slider .owl-dots .owl-dot{
    width:13px;
    height: 13px;
    margin:5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    outline: none, im !important;
    position:relative;
    transition:.3s all ease;
    -webkit-transition:.3s all ease;
    -moz-transition:.3s all ease;
    -ms-transition:.3s all ease;
    -o-transition:.3s all ease;
}


.owl-carousel.home-slider .owl-dots .owl-dot.active{
    border:2px solid #fff;
}
.owl-carousel.home-slider .owl-dots .owl-dot.active span{
    background:#fff;
}

.btn.btn-primary{
    color:#fff;
    border-width:2px;
    background:#438a5e;
    border-color:#438a5e;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding:10px;
    margin-top:10px;
}




  /* news block section */

  .block-title{
    border-bottom:3px solid #121313;
    color:#121313;
    font-size:15px;
    text-transform:capitalize;
    padding-bottom:3px;
}

.block-title > span{
    
    padding:4px 6px;
}

.post-block h4{
    margin-top:15px;
    color:#ffeb3b8f;
    font-size:16px;
    font-weight: 700;
}




.post-block p{
    color:#565555;
    font-size:14px;
    
}


.post-img{
    height: 200px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 10px;
   
}

.post-img img{
    height: 200px;
    object-fit: cover;
    width:100%;
    position:relative;
    transition:.3s;

}
.post-img:hover img{
    transform: scale(1.1);
}

.post-readmore{
 /* background-color:#438a5e;
  color:#fff;*/
  text-decoration:none;
  padding:5px 10px;
  font-size:16px;
  text-transform: capitalize;
  display:block;
  margin-top:7px;
  color:#438a5e;
  font-weight: bold;
  
}
.post-readmore:hover{
color:#333;
}
.post-block .date{
margin:0px 0;
font-size:14px;
color:#888;
position: absolute;
bottom:0;
background:#f3f1ec;

padding:5px 5px; 
width:50%;
}


.post-block .post-title{
font-weight: bold;
font-size:15px;
color:#333;
text-transform: capitalize;
}
.post-block:hover .post-title{
text-decoration: underline;
}

/* ================== end of news section ================== */

/*==================== sidebar widget =================== */



.widget{
    margin-bottom:35px;

}

.widget-title{
    /*
    background-color:#438a5e;
    color:#ffeb3b8f;
    font-size:16px;
    padding:8px 10px;
    text-transform: capitalize;
    */
    color:#666;
    font-size:17px;
}
.latest-news-item{
    margin-top:15px;
    border-bottom:1px dotted silver;
    padding-bottom:15px;
}
.latest-news{
    list-style:none;
    margin:0;
    padding:0;
}
.item-thumbnail{
    float:left;
}
.item-thumbnail img{
    display: block;
}

.latest-news-item .item-thumbnail{
    margin-right:20px;
}

.news-title{
    font-size:14px;
    font-weight: 600;
}
.news-title a{
    color:#333;
    text-decoration:none;
    
}
.news-date{
    font-size:13px;
    font-style: italic;
    color:#333;

}


/* social media icons for sidebar */
.widget .widget-content table{
    width:100%;
}
.widget .widget-content table tr td{
    width:20%;
    text-align: center;
    color:#fff;
    padding-top:15px;
    padding-bottom:10px;
}

.widget .widget-content table tr td p{
    line-height: 1;
    font-size:12px;
}

.widget .widget-content table tr td i{
    padding-bottom:20px;
}


/* spot light side */

.sidebar-spotlight img{
    display:block;
    margin:0 auto;
}


/* quick links siderbar */

.widget .widget-content .sidebar-categories ul{
    list-style: none;
}

.widget .widget-content .sidebar-categories ul li{
    border-bottom:2px dotted #edeeef;
    margin-left:-30px;
    padding-bottom:8px;
    padding-top:8px;
    font-weight:400;
    
}

.widget .widget-content .sidebar-categories ul li a{
    display: inline-block;
    color:#4a4a4a;
    text-decoration:none;
}


/* end of home page side bar */
/* =================== end of sidebar widget =================== */



/* ======================= about us ===================== */
.our-programmes{
    background:#eee;
    padding:4rem 0;
}

.our-programmes .content .box{
    margin:3rem 0;
}
.our-programmes .content .box a{
    display: inline-block;
    color:#666;
    text-decoration: none;
}
.our-programmes .content .box h3{
    font-size:1.2rem;
    color:var(--black);
}

.our-programmes .content .box h3 i{
    padding:0 1rem;
    color:goldenrod;
}
.our-programmes .content .box p{
    font-size:15px;
    padding-left:6rem;
    color:#666;
}


.our-programmes .card{
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  text-align: center;
  border-radius: 0!important;
  background-color:#438a5e;
  color:#fff!important;

}
.our-programmes .card h3{
  font-size:18px;
  color:#fff!important;
}
.our-programmes .card h3 a{
  display: block;
  text-decoration: none;
  color:#fff;
}
/*====================== end of our programmes ================== */

/*==================== begin of fact and figures counter up=================== */
.facts-and-figures-box{

  background: #438a5e;
  width:100%;
  padding:2.5rem 0;
  color:#fff;
  background-attachment: fixed;


}
.facts-and-figures-box h3, .facts-and-figures-box h1{
  color:#fff;
}
.facts-and-figures-box .col-md-3{
  text-align: center;
  padding-bottom: 2rem;
  border-right: 1px dashed #fff;
  color:#fff;
}

.facts-and-figures-box .col-md-3:last-child{
  border-right:0px dashed black;
}

.facts-and-figures-box .col-md-3 i{
  font-size: 20px!important;
  margin-top:20px;
  color:#deb629;
 
  border-radius: 50%;
  border:1px solid white;
  padding:20px;
}

@media(max-width: 991px){
  .facts-and-figures-box .col-md-3{
    border-right:0px dashed black;
    border-bottom: 1px dashed black;
    width:50%;
    margin:auto auto;


  }

  .facts-and-figures-box .col-md-3:last-child{
    border-bottom: 0px dashed black;
  }

}
/*==================== end of fact and figures counter up=================== */


/* =============== statistics =============== */
.timeline-area{
    width:360px;
    margin:90px auto;
    border-left:2px solid #ccc;
    padding:0 20px 0 30px;

}

.timeline-area div{
    background-color:#fff;
    padding:10px 25px;
    font-size:16px;
    border:1px solid #ccc;
    line-height: 1.7;
    position: relative;
    height: 110px;
    margin-bottom: 20px;

}
.timeline-area div:before{
    content:'' ;
    display: block;
    width:20px;
    height: 20px;
    border-radius:50%;
    background-color:#438a5e;
    border:3px solid #deb629;
    position:absolute;
    top:10px;
    left:-42px;
}

.timeline-area div:after{
    content:' ';
    width:0;
    height: 0;
    border-style: solid;
    border-color:transparent #438a5e transparent transparent;
    border-width:8px;
    position:absolute;
    left:-17px;
    top:10px;
}
.timeline-area div h2{
    margin:0;
   
    font-size:20px;
    text-align: center;
    padding-top:20px;
    
}
.timeline-area div h3{
    margin:0;
    text-align: center;
}
/*================== Faculties and Institutes ================ */


/* faculties carousel */

#faculties .owl-carousel .owl-nav button.owl-next{
  background:0 0;
  color:inherit;
  border:none;
  padding:0!important;
  font-size: inherit;
  position: absolute;
  top:33%;
  right:0;
  width:30px!important;
  height:30px!important;
  background-color:#deb629!important;
  line-height: 30px;
  color:#fff!important;
  font-size:22px!important;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  outline: none!important;
}
#faculties .owl-carousel .owl-nav button.owl-next:hover{
  border-radius:50%!important;
  -webkit-border-radius:50%!important;
  -moz-border-radius:50%!important;
  -ms-border-radius:50%!important;
  -o-border-radius:50%!important;
}

#faculties .owl-carousel .owl-nav button.owl-prev{
  background:0 0;
  color:inherit;
  border:none;
  padding:0!important;
  font-size: inherit;
  position: absolute;
  outline: none!important;
  top:33%;
  width:30px!important;
  height:30px!important;
  background-color:#deb629!important;
  line-height: 30px;
  color:#fff!important;
  font-size:22px!important;
  transition:0.4s;
  -webkit-transition:0.4s;
  -moz-transition:0.4s;
  -ms-transition:0.4s;
  -o-transition:0.4s;
}

#faculties .owl-carousel .owl-nav button.owl-prev:hover{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#faculties .card{
  border-radius:0!important;
  -webkit-border-radius:0!important;
  -moz-border-radius:0!important;
  -ms-border-radius:0!important;
  -o-border-radius:0!important;
  border:none!important;
     min-height:450px;
 box-shadow: 0 0 2px;
    margin-bottom: 20px;
    height: 400px;
}

#faculties .card .img{
  width:100%;
  
border-bottom:5px solid #438a5e!important;

}

#faculties .card .img img{
  height:100%;
  width:100%;
 object-fit: cover;
}

#faculties .card .content{
  padding:10px 20px;
  text-align: center;
}
#faculties .card .content .title{
  text-align: center;
  font-size:17px;
  font-weight: 600;
  color:#666;
  line-height: 20px;
  margin-top:20px;
}

#faculties .card .content .sub-title{
  text-align: center;
  font-size:20px;
  font-weight: 600;
  color:#e74c3c;

}
#faculties .card .content p{
 
  margin:10px 0;
  font-size: 15px;
}

#faculties .card .content .btn{
  display:block;
  text-align: left;
  margin:10px 0;
}
#faculties .card .content a{
  display:inline-block;
  border:1px solid #438a5e;
  color:#438a5e;
  border:none;
  outline:none;
  font-size:17px;
  padding:5px 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor:pointer;
}
#faculties .card .content a:after{
    content:" >>";
}
/* ========================= end of Faculties and Institutes ============== */




/*======================= call to action =========================== */

.call-to-action{
   
        background:linear-gradient(rgba(6,32,51,0.8),rgba(6,32,51,0.8)),url("../images/bg2.jpg");
       
        background-attachment: fixed !important;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
       padding:4rem;
       min-height: 400px;
       margin-bottom: 30px;
}
.call-to-action h1{
    font-size:26px;
    line-height: 38px;
    color:#deb629!important;
}
.call-to-action p{
    font-size:16px;
    color:#fff;
    font-weight: 500;
    line-height: 24px;
}
.call-to-action button{
    width:180px;
    padding:10px 0px;
    border:1px solid #000;
    outline:inherit;
    text-align: center;
    border-radius: 25px;
    transition:.3s ease;
    margin-top:20px;
}
.call-to-action button:hover{
    transform: translateY(-10px);
}
.call-to-action button a{
    font-size:14px;
    letter-spacing: 3px;
    color:#000;
    text-decoration: none;
    text-align: center;
    padding:10px;
}
/*====================== end of call to action ======================== */





/*================================footer================*/
footer{
    border-top:5px solid rgb(231, 195, 75);
}
footer a{
    color:#fff;
    
}
.footer i{
	color: #fff;
}

.footer h5{
  color:#e7c34b;
}

.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#438a5e; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#f2f2f2; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#fff;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover{ text-decoration:none!important;}
.footer_ul2_amrc li i { margin-top:5px; color:white;}

.bottom_border { border-bottom:1px solid #fff; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#fff; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#fff; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center; color:#e7c34b;}




